/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/ibm-plex-sans-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/ibm-plex-sans-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/ibm-plex-sans-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/ibm-plex-sans-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Colours
$clr-blue-light: #66e2dc;
$clr-orange: #fa7453;
$clr-yellow: #ffb964;
$clr-white: #fcfaf9;
$clr-black: #191826;

// Fonts
$font-family-primary: "IBM Plex Sans", sans-serif;
$font-weight-primary: 400;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-tablet: 700px;
$breakpoint-desktop: 1100px;
